
body {
  background-color: bisque;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container {
  min-width: 80%;
}

.listItemTitle {
  font-weight: 700;
  font-size: 20px;
  color: gray;
}
.listItem{
  cursor: move;
}

.listItem,
.listItemInput {
  list-style-type: none;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
}

input[type='checkbox'] {
  margin-right: 20px;
}

.icon {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 4px;
  color: grey;
  transform: scale(1.5);
  padding-right: 3px;
  cursor: crosshair;
}

.listItemInput {
  padding: 0%;
}

.listInput {
  min-width: 90%;
  height: 100%;
  padding: 10px 0;
  border: 0;
  margin-left: 10px;
}

.listInput:focus {
  outline: none;
}

::placeholder {
  font-style: italic;
  font-size: 1em;
  padding-left: 15px;
}

.iconRefresh {
  float: right;
  color: grey;
  cursor: pointer;
}

.iconEnter {
  display: inline;
  float: right;
  margin-top: 10px;
  color: grey;
  padding-right: 10px;
  cursor: pointer;
}

.clearLink {
  text-align: center;
  background-color: #eaeaea;
}

.clearLink:hover {
  text-decoration: underline blue;
  cursor: pointer;
}

.listItem.dragElem {
  opacity: 0.4;
}
.listItem.over {
  border-top: 2px solid blue;
}
.listItem.over-before {
  border-top: 2px solid red;
}
.listItem.over-after {
  border-bottom: 2px solid green;
}
.completed{
  border-bottom: 5px solid red;
  background-color: #ffffff;
  color: #9e9e9e;
}
span:before {
  content: "✔";
  text-decoration: none;
}