body {
    background-color: bisque;
}

.listItem, .listItemInput{
    list-style-type: none;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
}

input[type='checkbox'] {
    margin-right: 20px;
  }
.icon{
    width: 10px;
    height: 10px;
    float: right;
    margin-top: 4px;
}

.listItemInput{
    padding: 0%;
}
.listInput{
    min-width: 100%;
    height: 100%;
    padding:10px 0;
    border: 0;
}
::placeholder {
    font-style: italic;
    font-size: 1.0em;
    padding-left: 15px;
  }